# Salin file ini menjadi .env dan isi dengan credentials kamu
# cp .env.example .env

VITE_SUPABASE_URL=https://your-project-url.supabase.co
VITE_SUPABASE_ANON_KEY=your-supabase-anon-key
VITE_APP_TABLE_NAME=wishes
